header {
    overflow: hidden;
    padding: 2mm;
}

body {
    margin: 0 15% auto;
    text-align: center;
}

.logo {
    float: left;
    overflow: hidden;
    width: 15mm;
}

.search {
    float: left;
    overflow: hidden;
    width: 70mm;
}

nav {
    float: right;
    width: 150mm;
    background-color: azure;
}


.navlink {
    display: inline-block;
    float: left;
    border: 1px solid black;
    padding: 2mm;
    margin: 0 1mm;


}

main {
    background-color: azure;
    margin: 3mm 0mm;
}

.left-colomn {
    overflow: hidden;
    float: left;
    width: 20%;
    box-sizing: border-box;
}

.left-upperbox {
    padding: 5cm 0cm;
    border: 1px solid black;
    margin: 2mm;
    border-radius: 3mm;
}

.left-lowerbox {
    padding: 3cm 0cm;
    border: 1px solid black;
    margin: 2mm;
    border-radius: 3mm;
}

.middle-colomn {
    overflow: hidden;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}


.middle-upperbox {
    padding: 2cm 0cm;
    border: 1px solid black;
    margin: 1mm;
    border-radius: 3mm;
}

.middle-lowerbox {
    padding: 10cm 0cm;
    border: 1px solid black;
    margin: 2mm;
    border-radius: 3mm;
}

.right-colomn {
    overflow: hidden;
    float: right;
    width: 30%;
    box-sizing: border-box;
}

.right-upperbox {
    padding: 25mm 0cm;
    border: 1px solid black;
    margin: 2mm;
    border-radius: 3mm;
}

.right-lowerbox {
    padding: 25mm;
    border: 1px solid black;
    margin: 2mm;
    border-radius: 3mm;
}

footer {
    padding: 25mm;
    border: 1px solid black;
    margin: 2mm;
    border-radius: 3mm;
}
hr{
    margin: 0%;
}