header {
    background-color: aquamarine;
    overflow: hidden;
    padding: 5mm;
}

body {
    margin: 0px;
}

.logo {
    float: left;
}

.search {
    float: right;
}

nav {
    text-align: center;
    padding: 3mm;
    border: 1px solid;
}

.nb {
    border: 1px solid;
    width: 20mm;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}
.nb:hover {background-color: crimson;}
.list {
    width: 20%;
    height: 50%;
    padding: 3mm;
    float: left
}
.list:hover {
    background-color: crimson;
}

.banner {
    width: 55%;
    height: 50%;
    padding: 20px;
    float: left;
    overflow: hidden;
}

.product {
    float: right;
    overflow: hidden;
    text-align: center;
    width: 16%;
    margin: 2mm;
}
.border:hover {
    background-color: crimson;
}

.border {
    border: 1px solid;
    text-align: center;
    border-radius: 7px;
}

.align {
    text-align: center;
}

.pro {
    text-align: center;
    border: 1px solid;
    overflow: hidden;
    display: inline-block;
    border-radius: 7px;
}
.pro:hover {
    background-color: crimson;
}

footer {
    text-align: center;
    padding: 5mm;
    background-color: aquamarine;
    overflow: hidden;
    width: 100%;
}