.gradient{
    background-image:linear-gradient(red, yellow,purple);
    width: 100%;
    padding: 100px 0px;
    border: 1px solid black;
}
.linear-gradient{
    background-image:linear-gradient(to left, blue, orange,yellow,purple);
    width: 100%;
    padding: 100px 0px;
    border: 1px solid black;
}
.radial-gradient{
    background-image:radial-gradient( red, orange,yellow,black,purple);
    width: 557px;
    padding: 100px;
    border: 1px solid black;
    float: left;
}
.conic-gradient{
    background-image:conic-gradient( red, orange,yellow,green,purple);
    width: 557px;
    padding: 100px;
    border: 1px solid black;
    float: right;
}