header{background-color:orange ;height: 100px;}
nav{background-color: aqua; height: 40px;}
main{background-color: chartreuse;height: 400px;}
footer{background-color: orangered;height: 100px;}
body{background-color: black;}