body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("background.jpg");
    color: aliceblue;
}
.section-left {
    width: 20%;
    background-color: crimson;
    margin: 0mm 8mm;
    text-align: center;
    overflow: hidden;
    float: left;
}
.profile {
    padding: 12mm;
}
.profile-img{
    border-radius: 50px;
}
.profile-query{
    padding: 6mm ;
    border-bottom: 1px solid white;
}
.profile-icon-query {
    padding: 10mm;
}
.profile-footer-query {
    padding: 20mm;
}
.lastfooter {
    padding-top: 2cm;
    padding-bottom: 8mm;
}
.section-right {
    width: 70%;
    float: left;
    margin: 0mm 7mm;
    overflow: hidden;
}
.header{
    width: 100%;
    padding: 8mm 0mm;
    text-align: center;
}
.title{
    font-size: larger;
    border-bottom: 2px solid red;
    padding: 2mm;

}
.middle-section {
    margin: 10mm;
    text-align: left;
    overflow: hidden;
    width: 100%;
}
.upper-img-section {
    text-align: center;
    float: left;
    width: 50%;
    
}
.upper-written-section {
    float: right;
    width: 50%;
}
.lower-section {
    margin: 10mm;
    text-align: left;
    overflow: hidden;
    width: 100%;

}
.lower-img-section {
    text-align: center;
    float: right;
    width: 50%;
     
}
.lower-written-section {
    float: left;
    width: 50%;
}

