body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("background.jpg");
    color: aliceblue;
    overflow: hidden;
}
.section-left {
    width: 20%;
    background-color: crimson;
    margin: 0mm 8mm;
    text-align: center;
    overflow: hidden;
    float: left;
}
.profile {
    padding: 12mm;
}
.profile-img{
    border-radius: 50px;
}
.profile-heading {}
.profile-query{
    padding: 6mm ;
    border-bottom: 1px solid white;
}
.profile-icon-query {
    padding: 10mm;
}
.profile-footer-query {
    padding: 20mm;
}
.section-right {
    width: 70%;
    float: right;
    margin: 0mm 7mm;
    overflow: hidden;
}
.header{
    width: 100%;
    padding: 5mm 0mm;
    text-align: center;
}
.title{
    font-size: larger;

}
.middle-section {
    margin: 5mm;
}
.img-section {
    width: 50%;
    
}
.written-section {
    width: 50%;
}
.button{
    width: 3mm;
    margin: 5mm;
}