body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./images/background.jpg");
    color: aliceblue;
}

.section-left {
    width: 20%;
    background-color: crimson;
    margin: 0mm 8mm;
    text-align: center;
    overflow: hidden;
    float: left;
}

.profile {
    padding: 12mm;
}

.profile-img {
    border-radius: 50px;
}

.profile-query {
    padding: 6mm;
    border-bottom: 1px solid white;
}

.profile-query:hover {
    background-color: azure;
    color: red;
}

.profile-icon-query {
    padding: 10mm;
}

.icon:hover {
    background-color: white;
}

.icon {
    margin: 1mm;
}

.profile-footer-query {
    padding: 20mm;
}

.lastfooter {
    padding-top: 3cm;
    padding-bottom: 7mm;
}

.section-right {
    width: 70%;
    float: left;
    margin: 0mm 7mm;
    overflow: hidden;
}

.header {
    width: 95%;
    padding: 5mm 0mm;
    text-align: center;
    float: center;
}

.title {
    font-size: larger;
    border-bottom: 2px solid red;
    padding: 2mm;

}

.middle-section {
    float: center;
    margin: 4mm;
    overflow: hidden;
    width: 100%;
    padding: 10mm;
}

.upper-img-section {
    text-align: left;
    float: left;
    width: 40%;
}

.upper-written-section {
    text-align: left;
    float: left;
    width: 40%;
    padding-left: 15mm;
}

.lower-section {
    float: center;
    margin: 4mm;
    overflow: hidden;
    width: 100%;
    padding: 10mm;

}

.lower-written-section {
    text-align: left;
    float: left;
    width: 40%;
}

.lower-img-section {
    text-align: center;
    float: left;
    width: 40%;
    padding-left: 15mm;
}

.form {
    width: 4cm;
    height: 1cm;
    background-color: aliceblue;
    color: red;
    margin: 5mm 0mm;

}

.form:hover {
    background-color: black;
}