body {
    margin: 0% 10% 0% 10%;
    text-align: center;
    background-color: black;

}

nav {
    background-color: aquamarine;
    margin: 109px 0px 0px;
    position: fixed;
    width: 80%;
    top: 0%;
    
}

.navlink {
    background-color: darkorchid;
    color: black;
    margin: 10px;
    display: inline-block;
    padding: 10px;
    position: relative;
}

.navlink:hover {
    color: white;
    background-color: black;


}

.navlink:hover .ul {
    display: block;
    color: red;
    background-color: white;

}

.ul {
    display: none;
    position: absolute;
    padding: 10px;
    list-style: none;
    top: 40px;
    left: 0px;
    width: 100px;


}

.navlink:hover.ul {
    display: block;
}

header {
    background-color: darkorchid;
    position: fixed;
    width: 80%;
    top: 0%;
}

.banner {
    margin: 169px 0px 108px;
}

main {
    background-color: black;
}

footer {
    position: fixed;
    bottom: 0;
    width: 80%;
    background-color: darkorchid;
}