header {
    overflow: hidden;
}

.divimg {
    float: left;
}

.divsearch {
    float: right;
}

.divone {
    display: inline-block;
    width: 24%;
}

.divtwo {
    display: inline-block;
    width: 33%;
}

footer {
    text-align: center;
}

figure {
    text-align: center;
}