header {
    overflow: hidden;
}

.divimg {
    float: left;
}

.divsearch {
    float: right;
}

nav {
    display: inline-block;
    height: 25px;
    overflow: hidden
}

.divone {
    overflow: hidden;
    display: inline-block;
    float: left;
}

.divtwo {
    overflow: hidden;
    display: inline-block;
    float: left;
}

section {
    overflow: hidden;
}

footer {
    display: inline-block;
}

figcaption {
    text-align: center;
}