.psudo{
    color: chartreuse;
    background-color: blueviolet;
    padding: 20px;
}

.psudo:hover{
    color: beige;
    background-color: cadetblue;
}
.psudo:focus{
    color: yellow;
    background-color: tomato;
}
li:nth-child(even){
    background-color: red;
    color: black;
}
li:nth-child(odd){
    background-color:black;
    color: red;
}
a:link{
    color: yellow;
}
a:visited{
    color: navy;
}
.icon{
    font-size: 20px;
    background-color: bisque;
}
